# Fischers Linear Discriminant Analysis

In [1]:
# Importing required modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Reading the dataset

In [5]:
df = pd.read_csv('data/dataset_FLD.csv', header=None)
positive_mask = (df[3] == 1)
df

            0         1         2  3
0   -6.672418 -1.206198 -1.081050  0
1    1.675598  0.614994 -0.971600  0
2   -4.039058  0.335102  0.544618  1
3    0.793526 -0.235277  0.551771  1
4    3.820273 -0.274691  0.454743  1
..        ...       ...       ... ..
995 -3.680139  0.966962 -0.904337  0
996 -4.063900  0.802611  1.023708  1
997 -0.814430 -0.693945  0.876776  1
998 -0.325122 -0.759024  1.299772  1
999 -1.503431 -0.269458 -1.124390  0

[1000 rows x 4 columns]

## Generating Features and Class array

In [12]:
pos_points = df[positive_mask]
neg_points = df[~positive_mask]
# X_pos = pos_points[:, :3].to_numpy().reshape((-1,3))
# X_neg = neg_points[:, :3].to_numpy().reshape((-1,3))
# print(X_pos)
# print(X_neg)
print(type(neg_points))

<class 'pandas.core.frame.DataFrame'>